div.css-1kt4won.e1tzin5v0 {

    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.css-10trblm.e16nr0p30 {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reportview-container .main .block-container{{
            padding-top: 0 rem;
        }}